extends layout

block content
  .total
    .label.head
      | Total raised
    .label.numbers
      | 1 000 232 342 234 BTC

  #login
    #formspace.pass-phrase
      .point.bottom.left
      .point.bottom.right
      .point.top.left
      .point.top.right
      .paste.label Paste
      textarea.password(
        type="text",
        maxlength="69",
        placeholder="Enter Your Pass Phrase",
        wrap="Off")
      label.file.label Use txt
        input(
          type="file",
          onchange="onFileSelected(event, this)"
          )
      //- #show.show.label.hidden Show

  #signin.signin.disabled
    .point.bottom.left
    .point.bottom.right
    .point.top.left
    .point.top.right
    a(href="account").label.button
      | Sign In

  .signup
    .point.bottom.left
    .point.bottom.right
    .point.top.left
    .point.top.right
    a(href="new_account").label.button
      | New account

