extends layout

block content
  .total
    .label.head
      | Total raised
    //-(title="From which #{totalETH} ETH")
    .label.numbers
      | ≈ 47.1704 BTC

  #login
    #formspace.pass-phrase
      .point.bottom.left
      .point.bottom.right
      .point.top.left
      .point.top.right
      //- .paste.label(style="visibility: hidden;") Paste
      a.problem.label(
      href="mailto:sayhello@nodio.net?subject=I have a problem") Help
      textarea.password(
        type="text",
        lang="en",
        maxlength="69",
        placeholder="Enter Your Pass Phrase",
        wrap="Off")
      label.file.label Use txt
        input(
          type="file",
          accept=".txt",
          onchange="onFileSelected(event, this)"
          )
      //- #show.show.label.hidden Show

  #signin.signin.disabled
    .point.bottom.left
    .point.bottom.right
    .point.top.left
    .point.top.right
    a(href="account").label.button.fadelink
      | Sign In

  .signup
    .point.bottom.left
    .point.bottom.right
    .point.top.left
    .point.top.right
    a(href="new_account").label.button.fadelink
      | New account

