extends layout

block content
  .total
    .label.head
      | Total invested
    .label.numbers
      | 1 000 232 342 234 BTC

  #login
    #formspace.pass-phrase
      #paste.label Paste
      input.password(
        type="text",
        placeholder="Enter Your Pass Phrase",
        onFocus="focusLink(true)",
        onBlur="focusLink(false)",
        onChange="toggle_pass()"
      )
      #file.label Use txt

  .signin.disabled
    a(href="#").label.button
      | Sign In

  .signup
    a(href="new").label.button
      | New account