extends layout

block content
  .row
    .progress
      .first.hidden
        .step1
          .number
            | 01
          .text
            | Generate & Copy Pass Phrase
        .desktop.tablet    
          svg.active
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#pagination-active')  
          .line.active

      .second
        .step2
          .number
            | 02
          .text
            | Enter Your Pass Phrase
        .desktop.tablet
          svg.active
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#pagination-active')
          .line
  #generator
    #formspace1.pass-phrase
      .point.bottom.left
      .point.bottom.right
      .point.top.left
      .point.top.right
      .generate.label gen
      textarea.password(
        type="text",
        maxlength="69",
        placeholder="Enter Your Pass Phrase",
        value="one fish empty night purse siren fancy dutch always hold effort father"
        style="")
         | one fish empty night purse siren fancy dutch always hold effort father
      .save-to-file.label dwnl

  #login_new
    #formspace_new.pass-phrase
      .point.bottom.left
      .point.bottom.right
      .point.top.left
      .point.top.right
      .paste.label Paste
      textarea.password(
        type="text",
        maxlength="69",
        placeholder="Enter Your Pass Phrase",
        style="")
      label.file.label Use txt
        input(
          type="file",
          onchange="onFileSelected(event, this)"
          )
      #show.show.label.hidden Show

  .terms
    |By creating an account, I agree to the 
    a(href="#")
      | Terms Of Crowdsale Offer
    |.

  .attention
    | It's highly important to
    br
    span.bolded
      |  keep your passphrase memorized.
      br
    |  Note, that you won't be able to restore your account without it.
    |  and all your data will be permanently lost.

  #copy.signin
    a(href="#").label.button
      span.desktop.tablet
        | Copy Pass Phrase to Clipboard 
      span.mobile
        | Copy 
  #new.signin
    a(href="/account").label.button
      span.desktop.tablet
        | Sign In As A New StakeHolder
      span.mobile
        | Sign In 