extends layout

block content
  .row
    .progress
      .first
        .step1
          .number#backw
            | 01
          .text.invisible1
            | Generate & Copy Pass Phrase
        .desktop.tablet    
          svg.active.invisible1
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#pagination-active')  
          .line.active

      .second
        .step2
          .number#forw.invisible2
            | 02
          .text.invisible2.back_inv
            | Paste Your Pass Phrase
        .desktop.tablet
          svg.active.invisible2.back_inv
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#pagination-active')
          .line#right
  #generator.group1
    #formspace1.pass-phrase
      .point.bottom.left
      .point.bottom.right
      .point.top.left
      .point.top.right
      .generate.label(title="Generate New Phrase")
        svg
          use(xlink:href="#gnrt")

      textarea.password(
        type="text",
        placeholder="Generate Your Pass Phrase",
        value="one fish empty night purse siren fancy dutch always hold effort father"
        style="",
        rows="2",
        cols="6",
        readonly="readonly")
      .save-to-file.label(title="Save As *.txt")
        svg
          use(xlink:href="#dwnld")

  #login_new.group2.back
    #formspace_new.pass-phrase
      .point.bottom.left
      .point.bottom.right
      .point.top.left
      .point.top.right
      .paste.label Paste
      textarea.password(
        type="password",
        maxlength="69",
        placeholder="Paste Your Pass Phrase",
        style="")
      label.file.label Use txt
        input(
          type="file",
          accept=".txt",
          onchange="onFileSelected(event, this)"
          )
      #show.show.label.hidden Show

  .terms
    |By creating an account, I agree to the 
    a(href="#")
      | Terms Of Crowdsale Offer

  .attention
    | It's highly important to
    br
    span.bolded
      |  keep your passphrase memorized.
      br
    |  Note, that you won't be able to restore your account without it.
    |  and all your data will be permanently lost.

  #copy.signin.group1
    .point.bottom.left
    .point.bottom.right
    .point.top.left
    .point.top.right
    a(href="#").label.button
      span.desktop.tablet
        | Copy Pass Phrase to Clipboard 
      span.mobile
        | Copy 

  #new.signin.disabled.group2.back
    .point.bottom.left
    .point.bottom.right
    .point.top.left
    .point.top.right
    a(href="account").label.button
      span.desktop.tablet
        | Sign In As A New StakeHolder
      span.mobile
        | Sign In 
  a(href="/")#back-to-main
    | I'm already registered
  style.
    //- .invisible2, .invisible1, .group2, .group1{
    //-   -webkit-transition: visibility 1s, opacity 1.5s linear;
    //-   -moz-transition: visibility 1s, opacity 1.5s linear;
    //-   -ms-transition: visibility 1s, opacity 1.5s linear;
    //-   -o-transition: visibility 1s, opacity 1.5s linear;
    //-   transition: visibility 1s, opacity 1.5s linear;
    //- }
    .group2 {
      display: none !important
    }
    .invisible2{
    opacity: 0;
    cursor: default;
    }
    #login_new{
      margin-top:59px
    }
    @media (max-width: 600px){
      .second {
            margin-top: -60px;
      }
    }
  style.progress-point