extends layout

block content
  .row.bars
    .bar-item
      a 
        .desktop.tablet
          | Reports
          .line.white
        .mobile
          .arrow.left
            a(href="#")#arrow-left
              svg
                use(xlink:href="#arrow_right")
    .bar-item.active
      a General
      .line.desktop.tablet.mobile.blue
    .bar-item
      a 
        .desktop.tablet
          | Updates
          .line.white
        .mobile
          .arrow.right
            a(href="#")#arrow-right
              svg
                use(xlink:href="#arrow_right")
    //- p Welcome to #{title}
  .row.wal.pwhite
    .point.bottom.left
    .point.bottom.right
    .point.top.left
    .point.top.right
    .wallet
      .top-part
        .left-part
          .label.general
            | Your stakeholder ID
          .label.numbers
            | #{userID}
          a(href="").label.link#logout
              | Log Out
        .right-part
          .label.general
            | Your investment
          .label.numbers#invest-amount
            //- | 1 000 001.789 BTC
            | #{userInvestments} BTC
          #nods-amount.pointer
            .label.info
              | ∽ #{userNods} Nods
            .line.blue
          #nods-tip.pointer.hidden.disappear
            .point.bottom.left
            .point.bottom.right
            .point.top.left
            .point.top.right
            div.inner-tip
              p(style="padding-top: 17px;") 
                | For now it's #{userPercent}%
                br
                | from total 
                b #{totalInvested} BTC
              br
              p Final part will be known at
                b  May 19, 2016 00:00
      .line(style="width: 100%;")
      .bottom-part
        .left-part
          .label.general
            | Wallet to put bitcoins
          .label.code#code
            | #{userWallet}
          .copy.pblue
            .point.bottom.left
            .point.bottom.right
            .point.top.left
            .point.top.right
            a(href="#")#walcop.label.button
              span.desktop
                | Copy wallet number to clipboard
              span.mobile.tablet
                | Copy number
        .right-part
          .qr
            .point.bottom.left
            .point.bottom.right
            .point.top.left
            .point.top.right
            img(src="https://api.qrserver.com/v1/create-qr-code/?data=bitcoin:#{userWallet}&size=326x326&margin=18")
  .row#history
    a(href="https://blockchain.info/address/#{userWallet}", target="_blank")#stat_link
      | TRANSACTIONS HISTORY
  //- .history
  //-   .hist-line
  //-     .point.bottom.left
  //-     .point.bottom.right
  //-     .col.date
  //-       .date-font
  //-         | 6 Sep 2016
  //-     .col.confirm
  //-       .confirm-num
  //-         span.num
  //-           | 0
  //-         | Confirmatons
  //-     .col.amount
  //-       .label.num
  //-         | + 1 000 000 BTC
  //-     .col.details
  //-       .detail-arrow
  //-         a(href="#")
  //-   .hist-line
  //-     .point.bottom.left
  //-     .point.bottom.right
  //-     .col.date
  //-       .date-font
  //-         | 25 Aug 2016
  //-     .col.confirm
  //-       .confirm-num
  //-         span.num
  //-           | 6+
  //-         | Confirmatons
  //-     .col.amount
  //-       .label.num
  //-         | + 1.789 BTC
  //-     .col.details
  //-       .detail-arrow
  //-         a(href="#")
  //-     //- .next-link
  //-     //-   svg.full
  //-     //-     use(xlink:href="#next")
